@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import'./mixin/section';
@import'./mixin/footer';
@import'./mixin/responsive';
@import'./mixin/gallery';
@import'./mixin/blog';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

@mixin size($width, $height:$width) {
    width: $width;
    height: $height;
}

// seting 
:root {
    --white: ##f8f8f8;
    --dark: #0f0f11;
    --lightGrey: #6b6e70;
    --lightBlue: #56bdf0;
    --darkBlue: #4a89ff;
    --transition: all 0.5s ease;
}

body {
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 15px 0;
}

// utiliti class
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.btn {
    background: var(--darkBlue);
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    color: var(--darkBlue);
    text-transform: uppercase;
    background: transparent;
    font-size: 15px;
    padding: 12px;
    border: 1px solid var(--darkBlue);
    border-radius: 25px;
    margin: 15px 0;
    transition: var(--transition);

    &:hover {
        background: var(--darkBlue);
        color: #ffffff;
    }

}

.active {
    color: var(--lightBlue) !important;
}

.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://images7.alphacoders.com/116/thumb-1920-1161810.jpg") center/cover no-repeat;
    color: #8d70da;
    // position: relative;

    &-video {
        position: relative;
        @include size(150px);
        display: block;
        border: 2px solid #8d70da;
        background: transparent;
        // position: absolute;
        // left: 50%;
        transform: translateY(-20%);
        margin: 0 auto;

        border-radius: 50%;

        & i {
            position: absolute;
            // position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            // display: block;

        }
    }

    &-title {
        background-image: linear-gradient(to left, #379aeb, #8549fc);
        // display: inline-block;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .brand-and-navBtn {
        // background: #0b2645;
        position: relative;
        z-index: 999;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 24px;
        padding: 15px 25px;
        color: #8d70da;
        text-transform: uppercase;

        .brand-name {
            letter-spacing: 5px;
        }

        .navBtn {
            @include size(40px, 40px);
            border: 1px solid #8d70da;

            &:hover {
                background: #9f36e6;
                color: #dfcff6;
                transition: var(--transition);
            }
        }
    }

    .top-nav {
        background: #061326;
        transform: translateY(-600px);
        transition: all 0.3s linear;
        opacity: 1;
        visibility: visible;

        // transition: var(--transition);
        & ul li {
            padding: 10px 0;
        }

        & ul a {
            position: relative;
            font-weight: 500;
            font-size: 18px;
            text-align: center;
            display: block;

            &::after {
                content: "";
                height: 2px;
                background: var(--lightBlue);
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                transition: var(--transition);
            }

            &:hover::after {
                width: 50px;
            }
        }
    }

    .showNav {
        transform: translateY(0);
        transition: al 0.5s ease;
    }

    .search-icon {
        display: none;
    }

    .about {
        margin-top: -160px;

        &-content img {
            @include size(140px);
            border-radius: 50%;
        }

        & img:hover {
            @include size(150px);
            margin: 0 auto;
            background: #0ad8f6;
            border-radius: 50%;
            z-index: 999;
        }

        &-content h2 {
            font-size: 40px;
            text-align: center;
            margin-bottom: 35px;

        }

        &-content h3 {
            color: #8d70da;
            font-size: 30px;
            font-weight: 100;
            background: rgba(110, 11, 240, 0.1);
            width: 400px;
            margin: 35px auto;
            text-align: center;
        }

        &-content {
            blockquote {
                font-size: 20px;
                font-weight: 300;
                opacity: 0.9;
                width: 60vw;
                margin: 45px auto 15px auto;
                text-align: center;

                & span {
                    font-size: 14px;
                    text-transform: uppercase;
                    color: var(--darkBlue);
                    font-weight: 300;
                    letter-spacing: 5px;
                    display: block;
                }
            }
        }

        .social-icons {
            width: 350px;
            margin: 40px auto 0 auto;
            padding-bottom: 30px;

            ul {
                position: relative;
                display: flex;
                gap: 50px;
                z-index: 9999;

                & li {
                    position: relative;
                    width: 80px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;

                    & a {
                        position: relative;
                        text-decoration: none;
                        color: var(--ctrl);
                        z-index: 10;
                        font-size: 2em;
                        transition: 0.5s;

                    }

                    &:hover a {
                        font-size: 3em;
                        filter: drop-shadow(0 0 20px var(--ctrl)) drop-shadow(0 0 40px var(--ctrl)) drop-shadow(0 0 60px var(--ctrl));
                        z-index: 99999;
                    }

                    &:hover {
                        z-index: 10000;
                        transform: scale(0.75);
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        inset: 30px;
                        box-shadow: 0 0 0 10px var(--ctrl),
                            0 0 0 20px var(--bg),
                            0 0 0 22px var(--ctrl);
                        transition: 0.5s;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        inset: 0;
                        background: var(--bg);
                        transform: rotate(45deg);
                    }

                    &:hover:before {
                        inset: 0px;
                    }
                }
            }
        }
    }
}

.top-nav a {
    color: #8d70da;
}



//end utiliti class